body{
  padding: 40px;
  background-color: $purple;
  background-image: url('/images/bg-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  color: #FFFFFF;

  @media screen and (min-width: 1024px) {
    background-image: url('/images/bg-desktop.svg');
    padding: 40px 80px 40px 80px;
  }
}

main{
  margin-bottom: 60px;
  
  @media screen and (min-width: 1024px) {
    margin-bottom: 26px;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

.mainImage{
  @media screen and (max-width: 1024px) {
    margin-bottom: 70px;

    img{
      padding: 0px 100px 0px 40px;
    }
  }
  
  img{
    width: 110%;
  }
}

.mainText{
  line-height: 1.5;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  padding: 0px 20px;
  
  @media screen and (min-width: 1024px) {
    padding: 10px 10px 0px 110px;
    text-align: left;
    font-size: 17px;
  }
}

h1{
  font-family: $font-title;
  font-size: 46px;
  font-weight: 500;
  line-height: 1.5;

  @media screen and (min-width: 1024px) {
    font-size: 42px;
    line-height: 1.3;
  }
}

a.cta{
  display: inline-block;
  position: relative;
  min-width: 400px;
  margin-top: 26px;
  padding: 28px;
  background-color: #FFFFFF;
  font-family: $font-title;
  font-size: 24px;
  font-weight: 400;
  color:$purple;
  line-height: 1;
  text-align: center;
  border-radius: 40px;
  box-shadow: 5px 5px 10px darken($purple, 20%);
  transition: 0.25s;
  
  @media screen and (min-width: 1024px) {
    font-size: 20px;
    min-width: 200px;
    padding: 20px 66px;
  }
}

a.cta:hover{
  background-color: #d454d4;
  box-shadow: 5px 5px 10px darken(#d454d4, 40%);
  color: #FFFFFF;
  transition: 0.25s;
}

footer{
  @media screen and (max-width: 1024px) {
  padding-top: 80px;
  }
}