*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
}

a, a:visited {
  text-decoration: none;
}

header {
  margin-bottom: 115px;
}

@media screen and (min-width: 1024px) {
  header {
    margin-bottom: 100px;
  }
}

header img {
  width: 240px;
  padding-top: 30px;
}

@media screen and (min-width: 1024px) {
  header img {
    width: 200px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  footer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

footer > a {
  margin-right: 16px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

footer > a:last-child {
  margin-right: 0px;
}

footer > a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

footer i.fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  color: #ffffff;
  width: 48px;
  height: 48px;
}

body {
  padding: 40px;
  background-color: #674BB1;
  background-image: url("/images/bg-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url("/images/bg-desktop.svg");
    padding: 40px 80px 40px 80px;
  }
}

main {
  margin-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  main {
    margin-bottom: 26px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .mainImage {
    margin-bottom: 70px;
  }
  .mainImage img {
    padding: 0px 100px 0px 40px;
  }
}

.mainImage img {
  width: 110%;
}

.mainText {
  line-height: 1.5;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  padding: 0px 20px;
}

@media screen and (min-width: 1024px) {
  .mainText {
    padding: 10px 10px 0px 110px;
    text-align: left;
    font-size: 17px;
  }
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 46px;
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 42px;
    line-height: 1.3;
  }
}

a.cta {
  display: inline-block;
  position: relative;
  min-width: 400px;
  margin-top: 26px;
  padding: 28px;
  background-color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #674BB1;
  line-height: 1;
  text-align: center;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 10px #3d2d69;
          box-shadow: 5px 5px 10px #3d2d69;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media screen and (min-width: 1024px) {
  a.cta {
    font-size: 20px;
    min-width: 200px;
    padding: 20px 66px;
  }
}

a.cta:hover {
  background-color: #d454d4;
  -webkit-box-shadow: 5px 5px 10px #4a124a;
          box-shadow: 5px 5px 10px #4a124a;
  color: #FFFFFF;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

@media screen and (max-width: 1024px) {
  footer {
    padding-top: 80px;
  }
}
/*# sourceMappingURL=style.css.map */